.navbar {
  box-shadow: 0 4px 5px $color-7;
  background-color: $color-2;
  .logo {
    height: 50px;
    border-radius: 50px;
    margin-right: 30px;
  }
}


.nav-link {
  padding: 10px 0;
  /* Ajustamos el espaciado vertical de los enlaces */
  text-align: center;
  /* Centramos el texto */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* Cambiamos la tipografía del texto */
  font-size: 22px;
  /* Cambiamos el tamaño de fuente */
  font-weight: bold;
  /* Añadimos negrita al texto */
}

.navbar {
  background-color: #b7d6c9;
  /* Cambia el color de fondo de la barra de navegación */
}

